body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u356 {
  position:absolute;
  left:50px;
  top:40px;
  width:350px;
  height:210px;
}
#u357 {
  position:absolute;
  left:2px;
  top:97px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u358 {
  position:absolute;
  left:70px;
  top:54px;
  width:29px;
  height:16px;
}
#u359 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u360 {
  position:absolute;
  left:307px;
  top:193px;
  width:73px;
  height:27px;
  font-size:14px;
  color:#FFFFFF;
}
#u361 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u362 {
  position:absolute;
  left:220px;
  top:193px;
  width:73px;
  height:27px;
  font-size:14px;
  color:#FFFFFF;
}
#u362_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u362.mouseOver {
}
#u362_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u362.mouseDown {
}
#u363 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u364 {
  position:absolute;
  left:364px;
  top:44px;
  width:30px;
  height:30px;
  text-align:center;
}
#u365 {
  position:absolute;
  left:0px;
  top:7px;
  width:30px;
  word-wrap:break-word;
}
#u366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u366 {
  position:absolute;
  left:90px;
  top:114px;
  width:197px;
  height:16px;
}
#u367 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
