body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1176px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:674px;
  height:482px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:674px;
  height:482px;
}
#u10 {
  position:absolute;
  left:2px;
  top:233px;
  width:670px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:481px;
}
#u11 {
  position:absolute;
  left:674px;
  top:1px;
  width:502px;
  height:481px;
}
#u12 {
  position:absolute;
  left:2px;
  top:232px;
  width:498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:19px;
  top:87px;
  width:90px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
