body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u266 {
  position:absolute;
  left:70px;
  top:50px;
  width:350px;
  height:210px;
}
#u267 {
  position:absolute;
  left:2px;
  top:97px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u268 {
  position:absolute;
  left:90px;
  top:64px;
  width:29px;
  height:16px;
}
#u269 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u270 {
  position:absolute;
  left:327px;
  top:203px;
  width:73px;
  height:27px;
  font-size:14px;
  color:#FFFFFF;
}
#u271 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u272 {
  position:absolute;
  left:240px;
  top:203px;
  width:73px;
  height:27px;
  font-size:14px;
  color:#FFFFFF;
}
#u272_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u272.mouseOver {
}
#u272_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u272.mouseDown {
}
#u273 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u274 {
  position:absolute;
  left:384px;
  top:54px;
  width:30px;
  height:30px;
  text-align:center;
}
#u275 {
  position:absolute;
  left:0px;
  top:7px;
  width:30px;
  word-wrap:break-word;
}
#u276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u276 {
  position:absolute;
  left:110px;
  top:124px;
  width:211px;
  height:16px;
}
#u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u278 {
  position:absolute;
  left:70px;
  top:280px;
  width:350px;
  height:210px;
}
#u279 {
  position:absolute;
  left:2px;
  top:97px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u280 {
  position:absolute;
  left:90px;
  top:294px;
  width:29px;
  height:16px;
}
#u281 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u282 {
  position:absolute;
  left:327px;
  top:433px;
  width:73px;
  height:27px;
  font-size:14px;
  color:#FFFFFF;
}
#u283 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u284 {
  position:absolute;
  left:240px;
  top:433px;
  width:73px;
  height:27px;
  font-size:14px;
  color:#FFFFFF;
}
#u284_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u284.mouseOver {
}
#u284_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u284.mouseDown {
}
#u285 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u286 {
  position:absolute;
  left:384px;
  top:284px;
  width:30px;
  height:30px;
  text-align:center;
}
#u287 {
  position:absolute;
  left:0px;
  top:7px;
  width:30px;
  word-wrap:break-word;
}
#u288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u288 {
  position:absolute;
  left:110px;
  top:354px;
  width:197px;
  height:16px;
}
#u289 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
